a {
  color: white;
  background-color: tomato;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 55px;
  transition: border-radius 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
a:hover {
  border-radius: 20px;
  color: tomato;
  background-color: wheat;
}
